
.background{
    background-color:black;
}

.image{
text-align: center;
}


.img-fluld{
    height: auto;
    /* width: 100%; */
}


@media screen and (min-width: 480px) {
    body {
        background-color:black;
    }
}



